<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- release 必须显式声明：Flutter 模板只在 debug manifest 里自动加 INTERNET，
         release 缺它会以 Operation not permitted 拒绝所有出站 socket。 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 真实设备名：国内 ROM（MIUI/HyperOS）的 Settings 键不可读，设备名同步
         在蓝牙本机名里。Android 12+ 读蓝牙名需 BLUETOOTH_CONNECT（运行时，
         MainActivity 按需弹窗）；12 以下走老 BLUETOOTH（安装期自动授予）。 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <application
        android:label="瞬贴"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Impeller Vulkan 在部分 MIUI/Adreno 设备上 release 渲染空白（Mi 10 /
             Android 13 实测：进程活着、连接正常、首帧不出现）。Android 端回退
             Skia；iOS 不受影响（Impeller 在 iOS 已是默认且成熟）。 -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
